* {
    box-sizing: border-box;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
}
a {
    cursor: pointer;
}
p {
    margin:0;
    padding: 0;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor:pointer;
}
select option {
    cursor: pointer!important;
}
label {
    display: block;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #485068;
    margin-bottom: 15px;
}

input[type="number"] {
    background: #EDF1F9;
    box-shadow: 0px 1px 1px rgba(207, 210, 216, 0.5);
    border-radius: 30px;
    height: 46px;
    width: 100%;
    line-height: 46px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #0D1F3C;
    padding-left: 25px;
}
input[type="number"]::placeholder {
    color: #B5BDCC;
}
form.form-exchange {
    padding: 25px 50px 10px;
}

.amount-wrapper input[type="number"] {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #347AF0;
    width: 100%;
    background:transparent;
    padding: 0;
    box-shadow: none;
}
input[type='number']::-webkit-inner-spin-button {
    display: none;
}
.text-center {
    text-align: center;
}
#app {
    width:375px;
    margin:25px auto;
    border:3px solid #777;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 30px;
    box-sizing: content-box;
}
.menu-swipe {
    width:375px;
    margin:35px auto;
}
.amount-wrapper label {
    margin-bottom: 0;
    line-height: 1;
}

.form-control {
    margin-bottom: 30px;
    border: none;
    padding: 0;
}

.textnote {
    text-align: center;
    color: #485068;
    font-size: 12px;
    line-height: 24px;
}
a.button {
    background: #EDF1F9;
    border-radius: 23px;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 46px;
    color: #FFFFFF;
    margin-top: 20px;
}
a.button-blue {
    background: #347AF0;
    color: #FFFFFF!important;
}
a.button-red {
    background: #DF5060;
    color: #FFFFFF!important;
}
a.button-clear {
    background: none;
    color: #DF5060!important;
}
a.button-border {
    border: 2px solid #347AF0;
    border-radius: 23px;
    background: none;
    color: #347AF0!important;
}

.form-exchange .select-currency {
    width: 100%;
    height: 46px;
    background: #EDF1F9;
    box-shadow: 0px 1px 1px rgba(207, 210, 216, 0.5);
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #0D1F3C;
    padding: 0 25px;
}
.select-wrapper {
    position: relative;

}
.select-angle {
    position: absolute;
    right: 17px;
    top: 13px;
}
footer {
    padding:0 25px;
}
.text-block {
    padding: 25px 30px 0px;
}
.text-block.wallet {
  text-align: center;
}
.text-wallet {
  background: linear-gradient(to right, #333, #333 30%, #eee 100%, #333 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-block p {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #0D1F3C;
}
.text-block p small {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #485068;
}
.text-blue p {
    color: #347AF0
}
.line-block {
    padding: 0px 30px 0px;
}
.nav-link {
    padding: 0;
}
.svg-items {
  padding: 0px 20px 0px 0px;
}
.menu-swipe div.user-info {
    padding: 0px 131px 35px 0px;
}
.menu-swipe div.user-info h2 {
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #0D1F3C;
}
.menu-swipe div.user-info p.user-id {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #347AF0;
}
.menu-swipe div.user-info div.verification-info p {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    opacity: 0.9;
    background: -webkit-linear-gradient(#85F362, #02AAFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.menu-swipe div.user-info div.verification-info p svg {
    margin-right: 9px;
}

.menu-swipe ul.nav  {

}
.menu-swipe ul.nav li {
    margin: 17px 0;
}
.menu-swipe ul.nav li a {
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    color: #0D1F3C;
    display: flex;
    align-items: center;
}
.menu-swipe ul.nav li a svg {
    margin-right: 13px;
}
div.version-pro {
    height: 50px;
    margin: 17px -25px;
    background: #F4F4F4;
    display: flex;
}
div.version-pro h2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    opacity: 0.9;
    color: #0D1F3C;
    display: flex;
    align-items: center;
    margin: 25px;
}
div.version-pro svg {
    margin-left: 172px;
}
